bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("image/bg1.jpeg");
  width: 100%;
}
bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("image/bg2.jpeg");
  width: 100%;
}
bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("image/bg3.jpeg");
  width: 100%;
}
